@media (min-width: 768px) {
  .task-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .task-header > * {
    margin-right: 5px;
  }
  
  .task-header > *:last-child {
    margin-right: 0;
  }
  
  .task-header__name {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .task-fields {
    column-count: 3;
    column-gap: 40px;
    margin-bottom: 10px;
    column-rule: 1px solid #aaa;
  }
}

.task-field {
  column-count: 2;
}

.task-field__name {
  color: #555;
}