.backlog-task-item {
  border: 1px solid #ddd;
  padding: 5px;
}

.backlog-task-item + .backlog-task-item {
  border-top: none;
}

.backlog-task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backlog-task-item__menu-form {
  padding: 5px 15px;
}