@media (min-width: 768px) {
  .task-fields {
    display: flex;
    flex-wrap: wrap;
  }

  .task-field {
    width: 33%;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #aaa;
  }
}

.task-field {
  display: flex;
}

.task-field > * {
  width: 50%;
}

.task-field:nth-child(3) {
    border-right: none;
}

.task-field__name {
  color: #555;
}