body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 16px;
}

.main {
  padding: 20px 40px;
}

.login,
.register {
  max-width: 400px;
  margin: 0 auto;
}

.create-invite,
.create-course,
.create-group {
  max-width: 600px;
}

form .alert {
  margin-top: $spacer;
}